body{
	margin: 0;
    padding: 0;
    background: #6a89cc;
}
.container{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	
}
.logo, .nav{
     height: 58px;
     margin-top: 13px;
     background:#576574;
}
.logo{
	width: 30%;
	float: left;
}
.logo h2{
	font-color: ;
	text-indent: 13px;


}
.nav{
	width: 68%;
	float: right;

}
.nav h2{
	text-align: center;
}
.head{
	height: 110px;
	margin-top: 88px;
	background:#576574;
	text-align: center;
	padding-top: 10px;
}
.area{
	height: 90px;
	margin: 15px 0;
	text-align: center;
	padding-top: 5px;
	background: #576574;
}
.service{
    display: flex;
    justify-content: space-around;
}

.item{
    height: 300px;
    width: 32%;
    background: #576574;
    padding: 5px 1px;
}
.footer{
	height: 40px;
     margin-top: 10px;
     margin-bottom: 13px;
     background:#576574;
}
.footer h2{
	text-align: center;

}